$theme-color-background: #eee;
$theme-color-background-secondary: #aaa;
$theme-color-text: #234;
$theme-color-text-secondary: #456;
$theme-color-main-primary: #F08E00;
$theme-color-main-light: #FFaE80;
$theme-color-accent-primary: #80C0FF;
$theme-color-accent-secondary: #1F266B;

$label-color: $theme-color-text-secondary;
$input-color: $theme-color-text-secondary;
